*,
*::before,
*::after {
  /* outline: 1px solid tomato; */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
} 

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================HEADER================ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;

  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #4d5ae5;
}

.nav-logo .logo {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: capitalize;

  color: #2e2f42;

  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  content: '';

  width: 48px;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;

  position: absolute;

  left: 0;
  bottom: -1px;
}

.nav-address {
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: lowercase;

  color: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ================HERO================ */

.hero {
  background-color: #2e2f42;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 188px 0;
}


.page-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;

  font-size: 56px;
  font-weight: 700;

  line-height: 1.07;
  letter-spacing: 1.12px;

  color: #fff;

  text-align: center;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.64px;

  text-transform: capitalize;

  color: #fff;

  background-color: #4d5ae5;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ================FEATURE================ */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;

  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;

  color: #2e2f42;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 24px * 3) / 4);
}

.feature-item .icon-bcg {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid #8e8f99;

  background-color: #f4f4fd;
}

.feature-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;

  color: #2e2f42;
}

.feature-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ================TEAM================ */

.team {
  background-color: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  background-color: #ffffff;
}

.team-item .card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;

  color: #2e2f42;
}

.team-text {
  margin-bottom: 8px;

  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  line-height: 0;

  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
}

/* ================PORTFOLIO================ */

.portfolio-item {
  background-color: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 24px * 2) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  position: relative;

  overflow: hidden;
}

.portfolio-overlay {
  padding: 40px 32px;
  width: 100%;
  height: 100%;

  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;

  color: #f4f4fd;

  background-color: #4d5ae5;

  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-item .card-content {
  padding: 32px 16px;

  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;

  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

/* ================FOOTER================ */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  width: 264px;
  margin-right: 120px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;

  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #4d5ae5;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-link .logo {
  color: #f4f4fd;
}


.footer-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;

  color: #f4f4fd;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;

  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  line-height: 0;

  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-form-container {}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-title {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: #ffffff;
}

.footer-label {}

.footer-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  color: #ffffff;

  background-color: transparent;
}

.footer-input::placeholder {
  color: inherit;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  min-width: 165px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  color: #ffffff;
  background: #4d5ae5;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 16px;

  fill: #ffffff;
}

/* ===== backdrop ===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ===== modal ===== */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  line-height: 0;

  background-color: #e7e9fc;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close .icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #ffffff;
}

.form-discription {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: #2e2f42;
}

.form-modal {
  width: 100%;
}

.form-modal-container {
  margin-bottom: 8px;
}

.form-modal-container.comment {
  margin-bottom: 16px;
}

.form-input-container {
  position: relative;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;

  color: #8e8f99;
}

.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: rgba(46, 47, 66, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  resize: none;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);

  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus,
.form-comment:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.form-input:focus+.form-icon {
  fill: #4d5ae5;
}

.form-accept {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.form-accept-label {
  color: #8e8f99;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.form-accept-checkbox-area {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  cursor: pointer;

  fill: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-accept-checkbox:checked+.form-accept-label .form-accept-checkbox-area {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

/* .form-accept-checkbox:focus + .form-accept-label .form-accept-checkbox-area {
  border: 1px solid #4d5ae5;
} */

.form-accept-label .privacy-policy {
  color: #4d5ae5;

  text-decoration-line: underline;
}

.form-btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  border: none;

  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn-send:hover,
.form-btn-send:focus {
  background-color: #404bbf;
}